body {
    padding:0;
    margin:0;
}

.button {
    background-color:#09A097;
    height:42px;


    padding: 9px 43px 9px 41px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size:20px;
    text-align: center;

    box-shadow: 0px 4px 4px rgba(152, 152, 152, 0.25);
    border-radius: 30px;
    border: 0ch;

    color:#FFFFFF;

}

.button:hover {
    background-color:  #11cbc0;;

}

.button1 {
}

.button2 {
    position: relative;
    left:289px;
}

.button-wrap {
    display: flex;
    align-items: flex-start;

    width: 100vw;
    height: 100vh;
}