@font-face {
    font-family: "Poppins";
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-section {
    background: url("pawel-czerwinski-j3c6FN11CkA-unsplash.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero-content {
    padding-right: 72px;
    padding-bottom: 72px;
}

.info h1 {
    color: white;
    font-weight: 700;
    font-size: 64px;
    text-align: right;
    font-style: normal;


}

.info p {
    font-weight: 700;
    font-size: 36px;
    text-align: right;

    color: #373737
}

.ellipse {
    width: 216px;
    height: 216px;
    margin-left: auto;

    border-radius: 50%;

    background: #d9d9d9 60%;

    font-size: 120px;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}